*{
    padding: 0;
    margin: 0;
}

.header{
    margin: 20px 20px;
    background-color: #f8f7f7;
    padding: 25px 20px;
    border-radius: 85px;
}

.menu-style{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.menu{
    font-size: 15px;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}