*{
    padding: 0;
    margin: 0;
    cursor: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"%3E%3Ccircle cx="16" cy="16" r="15" stroke="black" stroke-width="1" fill="none" /%3E%3Ccircle cx="16" cy="16" r="3" fill="black" /%3E%3C/svg%3E'), auto;
}

.header{
    margin: 20px 20px;
    background-color: #f8f7f7;
    padding: 25px 20px;
    border-radius: 85px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
}
.menu-style{
    display: flex;
    gap: 15px;
}

.menu{
    font-size: 15px;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.logo{
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.container{
    margin: 150px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.h1-style{
    font-size: 65px;
}

.h2-style{
    font-size: 25px;
    font-weight: 200;
}


.h3-style{
   margin-top: 30px;
   font-size: 25px;
   font-family: 'Ribeye Marrow', sans-serif;
   font-weight: 300;
}


.img-direita {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    max-width: 70%; 
    height: 70%;
}

.img-esquerda {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    max-width: 70%; 
    height: 70%;
    transform: scaleX(-1);
}

